/* ===== COMMON CSS START ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
   text-decoration: none !important;
   display: inline-block;
}
ul,ol,li{
   list-style-type: none;
}
body{
   overflow-x: hidden !important;
   background: #000 !important;
}
html,body{
   scroll-behavior: unset !important;
}
html{
    width: 100%;
    overflow-x: hidden !important;
}
 
 .container{
  max-width: 1598px;
 }
 /* ===== COMMON CSS   END ===== */
/* Line Spacing common class  */
.line-break{
     display: block;
 }
/* common color  */
.common-color{
  color: #ffd000;
}
.common-color-gold{
  color: #ff7b00;
}
/* common bold  */
.common-bold{

}
/* block span  */
.block-span{
    display: block;
}
/* common hover color */

/* COMMON GRADIENT ANIMATION FOR NAME & TITLES  */

.common-gradient-ani{
    background: linear-gradient(90deg, #38300f, #FFD700 , #38300f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: common-gradient-ani 100s infinite linear;
}
@keyframes common-gradient-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: 2000% center;
    }
}
.counter-gradient-ani{
    background: linear-gradient(90deg, #FFD700, #ffd9006c , #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: counter-gradient-ani 100s infinite ease-in-out;
}
@keyframes counter-gradient-ani {
    0%{
        background-position: 0% ;
    }
    50%{
        background-position: 1000% ;
    }
    100%{
        background-position: 0% ;
    }
}




/* cursor gps finder  */

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1;
  }
  
  to {
    rotate: 360deg;
  }
}

.blob-wrapper{
  /* position: relative; */
}
#blob {
  height: 16vmax;
  /* aspect-ratio: 1; */
  width: 16vmax;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(255, 255, 255), #ffd000);
  animation: rotate 20s infinite;
  opacity: 0.5;
  filter: blur(12vmax);
  z-index: -99999 !important;
}



/* conact icon hover shake css  */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}



/* ====== ANIMATE CSS   END ====== */

.top-scroll-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ffd000;
  position: fixed;
  bottom: 65px;
  right: 55px;
  z-index: 999;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  display: none;
  animation-name: scroll-btn;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-btn {

  0% {
      bottom: 85px;
      background: #ffd000;
      color: #3f3f3f;
  }

  50% {
      bottom: 100px;
      background: #ffd000;
      color: #000;
  }

  100% {
      bottom: 85px;
      background: #ffd000;
      color: #3f3f3f;
  }
}

.top-scroll-btn i {
  color: #313131;
  font-size: 30px;
  margin-top: 10px;
  animation-name: scroll-btn-icon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-btn-icon {

  0% {
    color: #3f3f3f;
}

50% {
    color: #000;
}

100% {
    color: #3f3f3f;
}
}

/* ====== ANIMATE CSS   END ====== */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 8px solid #dddddd;
  border-top-color: #ffd000;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
